* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.benefits {
    text-align: center;
    width: 80%;
    font-family: "Syne";
    font-size: 45px;
    font-style: normal;
}

.benefits-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    font-family: "Syne";
    font-size: 45px;
    font-style: normal;
}

.benefit-item {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 30%;
    border-right: 2px solid #f26522; /* Sağ kenarlık */
    padding-right: 20px;
    font-family: "Syne";
    font-size: 45px;
    font-style: normal;
}

.benefit-item:last-child {
    border-right: none; /* Son öğenin kenarlığını kaldır */
}

.benefit-item img {
    width: 40px; /* PNG numara boyutunu ayarla */
    height: auto;
}

.content {
    text-align: left;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    margin: 0;
}

p {
    font-size: 14px;
    color: #555;
    margin: 5px 0 0;
}
